@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
background-color: rgb(180, 180, 180);
}

header {
    background-color: rgb(50, 50, 50);
    color: white;
    padding: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.575);
}

header > h1 {
    text-align: center;
    color: rgb(0, 255, 255);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6)
}

#burger {
    display: block;
    background-color: rgb(20, 20, 20);
    text-align: center;
    padding: 5px;
}

header > menu {
    padding: 10px;
    text-align: center;
    display: none;
}

header ul {
    list-style-type: none;
}

header li {
    border: 1px solid rgb(255, 255, 255);
}

header > menu > ul > li > a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

main {
    background-color: white;
    padding: 20px 10px;
    max-width: 400px;
    margin: auto;
}

main h2 {
    font-size: 1.6em;
    color: red;
    padding: 10px;
    margin-bottom: 10px;
}

main p {
    color: rgb(0, 116, 116);
}


.spanborda {
    padding-top: 10px;
    border: 1px solid black;
}

.spanborda:hover {
    cursor: pointer;
}

#opcoes {
    margin: 20px 5px;
}

#opcoes div {
    display: inline;
}

#opcoes-imoveis {
    display: none;
    background-color: darkgrey;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}

#opcoes-automoveis {
    display: none;
    background-color: darkgrey;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}

#opcoes-investimentos {
    display: none;
    background-color: darkgrey;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}






footer {
    background-color: rgb(50, 50, 50);
    color: rgb(0, 255, 255);
    text-align: center;
    padding: 2px;
}